.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    width: 100%;
    text-align: center;
}

.title {
    margin-bottom: 30px;
    font-size: 24px;
}

.buttonsContainer {
    display: flex;
    gap: 20px;
}


.button, .button_study {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    color: #000;
    background-color: #fff;
}

.searchContainer {
    max-width: 600px;
    width: 100%;
}

.searchInput {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.listItem {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    transition: background-color 0.2s;
}

.listItemHover {
    background-color:  #f5f5f5;
}

.form_study {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    gap: 25px;
}

.form_study_buttons {
    display: flex;
    gap: 10px;
    height: 50px;
}