.admin_comp {
    display: flex;
    flex-direction: column;
    height: 100vh;


}
/* 
.accordion {
    margin-top: 50px;
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.accordion-item {
    margin-left: 25px;
    margin-bottom: 10px;
}

.accordion-button {
    width: 50%;
    padding: 10px;
    text-align: left;
    background-color: #f1f1f1;
    position: relative;
    border: none;
    cursor: pointer;
    top: 15px;
    outline: none;
    font-size: 19px;
    border-radius: 15px;
    transition: background-color 0.3s ease;
}

.accordion-button:hover {
    background-color: #ddd;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.7s ease-out, padding 0.7s ease-out;
    padding: 0 10px;
    justify-content: center;    
}

.accordion-content.open {
    max-height: 2950px; 
    position: relative;
    z-index: 1;
    padding: 10px;
    width: 90%;
}




@media screen and (max-width: 500px) {
    .accordion-button {
        font-size: 13px;
    }
} */


.menu_pages {
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;

    .menu__button {
        min-width: 60px;
        padding: 2px 3px;
        background-color: #fff;
        border: 0px solid #fff;
        font-size: 16px;
        text-wrap: nowrap;
        transition: border 0.7s ease;
    }

    
    .menu__button.active {
        border: 1px solid #000;
    }
}

.slider_block {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .slide {
        width: 80vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}